nav ul li.home a { padding-top:15px;  !important;}
nav ul li.home a:hover { padding-top:15px;  !important;}
nav ul li.localizacao a { padding-top:11px;  !important;}
nav ul li.localizacao a:hover { padding-top:11px;  !important;}
nav ul li.projeto a { padding-top:15px;  !important;}
nav ul li.projeto a:hover { padding-top:15px;  !important;}
nav ul li.lazer a { padding-top:15px;  !important;}
nav ul li.lazer a:hover { padding-top:15px;  !important;}
nav ul li.apartamento a { padding-top:11px;  !important;}
nav ul li.apartamento a:hover { padding-top:11px;  !important;}
nav ul li.diferenciais a { padding-top:15px;  !important;}
nav ul li.diferenciais a:hover { padding-top:15px;  !important;}
nav ul li.realizacoes a { padding-top:15px;  !important;}
nav ul li.realizacoes a:hover { padding-top:15px;  !important;}
nav ul li.contato a { padding-top:15px;  !important;}
nav ul li.contato a:hover { padding-top:15px;  !important;}


